<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <akka>
    <hocon>
      <![CDATA[
					akka {     
            actor.provider = cluster
            remote {
              dot-netty.tcp {
                port = 0
                hostname = localhost
              }
            }
            
            cluster {
              seed-nodes = ["akka.tcp://FuppSystem@lighthouse1:4053", "akka.tcp://FuppSystem@lighthouse2:4053"]
              roles = ["agent"]
            }
          }
       }
      ]]>
    </hocon>
  </akka>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>